*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(127, 127, 206, 0.945),rgba(187, 116, 187, 0.95));
  
   
}
.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.part1{
    height: 490px;
    width: 400px;
    background: linear-gradient(rgba(111, 111, 234, 0.546),rgba(198, 102, 198, 0.568));
    box-shadow: 1px 1px 4px 1px  rgba(36, 35, 35, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.text{
   
    width: 80%;
    height: 40%;
    margin: 5px;
    font-weight: 500;
    color: #fff;
}
p{
    margin-top: 19px;
    line-height: 22px;
    font-size: 13px;
    color: white;
}
.part2{
  
    height: 490px;
    width: 400px;
    color: black;
    background-color: white;
    box-shadow: 1px 1px 4px 1px  rgba(36, 35, 35, 0.523);

}
button{
    width: 110px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
    height: 30px;
    margin-top: 15px;
}
.part2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
   color: black;
    font-size: 19px;
    margin-top: 22px;
    margin-left: 40px;
}
#p1{
    margin-left: 50px;
    margin-top: 12px;
    font-size: 14px;
    color: rgb(91, 90, 90);
    font-weight: 400;
}
#email{
    font-size: 16px;
    font-weight: 500;
    color: rgb(91, 90, 90);
    margin-left: 20px;
    margin-top: 20px;
}
input{
    margin-top: 7px;
    margin-left: 20px;
    width: 300px;
    height: 35px;
    border: 0.3px solid;
    border-radius: 4px;
}