*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
main{
    height:100%;
    width:100%;
    background-image: url(webimage.jpg);
}
nav{

    height: 60px;
    /* background-color : black; */
    background: linear-gradient(blue violet);
    display: flex;
    align-items: center;
    margin: 2px;
    border-radius: 10px;
    position: sticky;
    box-shadow: 1px 1px 4px 1px rgb(54, 52, 52);
}
nav i {
    margin: 15px;
    /* size: 100px; */
    color: white;
    font-size: x-large;
}
nav :nth-child(2){
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    color: aqua;
    
}
nav :nth-child(3){
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    margin-left: 20px;
    color: white;

}
nav :nth-child(4){
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    margin-left: 20px;
    color: white;
}
nav :nth-child(5){
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
    margin-left: 20px;
    color: white;
}
nav :nth-child(6){
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    margin-left: 50vw;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    
}
.content{
    display: flex;
    justify-content: center;
}
.content :nth-child(1){
    margin-top: 35vh;
    color: white;
    font-size: xx-large;
}
.dis{
    display: flex;
    justify-content: center;
}
.dis :nth-child(1){
    margin-top: 10px;
    color: white;
}
.dis1{
    display: flex;
    justify-content: center;
}
.dis1 :nth-child(1){
    margin-top: 1px;
    color: white;
}
.con1{
    display: flex;
    justify-content: center;
}
.search-container {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.search-box {
    width:40vw;
    padding: 10px;
    padding-right: 40px; /* Space for the button */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: white;
    border-radius: 20px;
}

.search-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 18px;
}
.search-button >i{
    margin-right: 10px;
}